{
    "asi"       : true,
    "esversion" : 6
    "esnext": true,
    "undef": true,
    "unused": true,
    "strict": true,
    "boss": true,
    "curly": true,
    "eqeqeq": true,
    "eqnull": true,
    "expr": true,
    "immed": true,
    "noarg": true,
    //    "onevar": true,
    "quotmark": "single",
    "smarttabs": true,
    "trailing": true,
    "bitwise": true
}
