.yas-compiled-snippets.el

/.org-id-locations
/ac-comphist.dat
/auto-save-list/
/bookmarks
/ede-projects.el
/elpa/
/eshell
/history
/ido.last
/local/
/.lsp-session*
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/recentf
/semanticdb/
/server
/session*
/smex-items
/tramp
/transient/
/url/
